<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head.ejs') %>

  <body>
    <div class="backdrop"></div>

    <%-include('partials/header.ejs') %> <%-include('partials/navigation.ejs')%>

    <main class="main" id="main">
      <section class="project-section" id="project">
        <div class="container">
          <div class="title-container">
            <h2>Featured Projects 💻</h2>
            <p>
              I prefer working under contract but I tend to freelance 
              or make projects for fun. Here are some of my
              recent projects:
            </p>
          </div>
          <div class="project-container">
            <div class="project">
              <div class="project-image">
                <img
                  src="/img/projects/scala-spark.jpg"
                  height="340"
                  width="720"
                  alt="doteightplus"
                />
              </div>
              <div class="project-content-container">
                <div class="project-content">
                  <h3 class="project-title">
                    <a
                      href="https://github.com/Limboyanking/mixedScalaJavaPOM"
                      target="_blank"
                      >RDD Ops Extension</a
                    >
                  </h3>

                  <div class="project-description">
                    <p>
                      I built this implicit extension to improve 
                      my understanding towards Spark layout 
                      and improve the effeciency both in programming and stagging.
                    </p>
                  </div>

                  <ul class="project-tags">
                    <li class="tag">SPARK</li>
                    <li class="tag">SCALA</li>
                    <li class="tag">JAVA</li>
                    <li class="tag">YARN</li>
                  </ul>

                  <div class="project-links">
                    <a
                      href="https://github.com/Limboyanking/mixedScalaJavaPOM"
                      target="_blank"
                      class="link-btn"
                      >visit site</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <div class="wave-border">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: var(--shade-100)"
          ></path>
          <path
            class="neon-path"
            d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98"
            style="stroke: var(--neon-color); fill: none"
          ></path>
        </svg>
      </div>

  
    </main>



    <script>
      const btn = document.getElementById("menu-btn");
      const sideDrawer = document.querySelector(".mobile-nav");
      const backdrop = document.querySelector(".backdrop");

      function backdropClickHandler() {
        btn.classList.remove("active");
        backdrop.classList.toggle("blur");
        sideDrawer.classList.remove("open");
      }

      btn.addEventListener("click", () => {
        console.log("clicked");
        btn.classList.toggle("active");
        // backdrop.style.display = "block";
        backdrop.classList.toggle("blur");
        sideDrawer.classList.toggle("open");
      });

      backdrop.addEventListener("click", backdropClickHandler);
    </script>
  </body>
</html>
